body {
    background-color: #35363a !important;
}

.icons span {
    padding: 10px !important;
}

h1 span {
    color: rgba(255, 255, 255, .5) !important;
}

p {
    color: rgba(255, 255, 255, .75) !important;
}